{% load static %}

  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{% static '' %}img/apple-icon.png">
  <link rel="icon" type="image/png" href="{% static '' %}img/wasa.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"/>
  <link href="{% static '' %}css/bootstrap-iconpicker.min.css" rel="stylesheet" />

  <!-- CSS Files -->
  <link href="{% static '' %}css/material-dashboard.css" rel="stylesheet" />
  <link href="{% static '' %}css/grideditor.css" rel="stylesheet" />
  <link href="{% static '' %}css/jsmaps.css" rel="stylesheet" type="text/css" />

  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="{% static '' %}demo/demo.css" rel="stylesheet" />
  <link href="{% static '' %}css/style.css" rel="stylesheet" />

  <!-- I, Ridwan Mizan added on 05 May 2019 follwing final resources shared by eligant-->
  <link href="{% static '' %}lmms.css" rel="stylesheet" />
  <link href="{% static '' %}lmms-fonts.css" rel="stylesheet" />
  <link href="{% static '' %}css/elements.css" rel="stylesheet" />
 <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
